<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright © David Bushell | @dbushell | http://dbushell.com/">

    <title><%= title %></title>

    <link rel="shortcut icon" href="/favicon.ico">
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/macaque.css">
</head>
<body>

<script type="text/x-handlebars">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            {{#linkTo 'index' class="brand"}}<%= title %>{{/linkTo}}
            <ul class="nav">
                <li>{{ routeName }}{{#linkTo tasks}}All Tasks{{/linkTo}}</li>
                <li>{{#linkTo settings}}Settings{{/linkTo}}</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {{outlet}}

    <footer role="contentinfo">
        <hr>
        <p class="muted"><small><a href="https://github.com/dbushell/Macaque" target="_blank"><%= title %></a> | Copyright © <a href="http://dbushell.com/" target="_blank">David Bushell</a></small></p>
    </footer>

</div>
</script>

<script type="text/x-handlebars" data-template-name="index">
    <h2 class="view__title">All Lists</h2>
    <ul class="breadcrumb">
        <li class="active">All Lists</li>
    </ul>
    {{#if loadedListCount}}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-right">Tasks</th>
                    <th class="text-right">Modified</th>
                </tr>
            </thead>
            <tbody>
            {{#each list in orderedLists}}
            {{#unless list.isHidden}}
            <tr>
                <td>{{#linkTo 'list' list}}{{list.name}}{{/linkTo}}</td>
                <td class="text-right"><span class="badge">{{list.openTaskCount}}</span></td>
                <td class="muted text-right">{{formattedDate list.modified}}</td>
            </tr>
            {{/unless}}
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="well">
            <p class="muted text-center">Loading…</p>
        </div>
    {{/if}}

    {{view Macaque.ListCreateView}}
</script>

<script type="text/x-handlebars" data-template-name="list-create">
<div class="well well-small">
    <div class="input-append create-view__form">
        {{view Ember.TextField valueBinding="controller.newList.name" placeholder="New List…" class="create-view__text"}}
        <button class="btn create-view__button"><i class="icon-pencil"></i> Add List</button>
    </div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="settings">
<h2 class="view__title">Settings</h2>
<hr>
<h3>Backups</h3>
{{#if hasSuccess }}
{{partial 'settings/success'}}
{{/if}}
{{#if hasFailure }}
{{partial 'settings/error'}}
{{/if}}
<div class="well">
    <p>When starting <strong><%= title %></strong> run <code>node app --backup</code> to load the most recent backup into the database.</p>
    <p>
        <button class="btn btn-large" {{action 'backup'}}><i class="icon-download-alt"></i> Save Backup</button>
        <a class="btn btn-link" href="/api/export" target="_new">(Download JSON)</a>
    </p>
    <p class="muted">By default backups are saved to <code>.macaque</code></p>
</div>
</script>

<script type="text/x-handlebars" data-template-name="settings/_error">
<div class="alert alert-error">
    <strong>Error!</strong> failed to save backup.
</div>
</script>

<script type="text/x-handlebars" data-template-name="settings/_success">
<div class="alert alert-success">
    <strong>Success!</strong> backup saved to disk.
</div>
</script>

<script type="text/x-handlebars" data-template-name="list">

    <div class="btn-group pull-right view-actions">
        <button {{action 'startEdit'}} class="btn view-actions__edit"><i class="icon-edit"></i> Edit List</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" {{action 'remove'}}><i class="icon-remove"></i> Delete List</a>
            </li>
        </ul>
    </div>

    {{#if isEditing }}
        {{partial 'list/edit'}}
    {{else}}
        <h2 class="view__title">{{name}} <span class="badge">{{openTaskCount}}</span></h2>
    {{/if }}

    <ul class="breadcrumb">
        <li>{{#linkTo index}}All Lists{{/linkTo}} <span class="divider">/</span></li>
        <li class="active">{{name}}</li>
    </ul>

    {{view Macaque.TaskCreateView}}

    {{#if loadedTaskCount}}
        <table class="table table-bordered table-striped tasks">
            <thead>
                <tr>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
            {{#each task in orderedTasks}}
                {{#unless task.isHidden}}
                <tr class="tasks__row">
                    <td {{bindAttr class="task.isComplete"}}>
                        {{view Ember.Checkbox checkedBinding="task.isComplete" class="tasks__checkbox"}}
                        {{#linkTo 'task' task class="tasks__link"}}{{basicMarkdown task.text}}{{/linkTo}}
                    </td>
                </tr>
                {{/unless}}
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="well">
            <p class="muted text-center">Loading…</p>
        </div>
    {{/if}}

    <p class="muted">Modified: {{fromNow modified}}</p>

</script>

<script type="text/x-handlebars" data-template-name="list/_edit">
<div class="input-append view-edit">
    {{view Ember.TextField valueBinding="name" class="view-edit__field"}}
    <button class="btn" {{action 'endEdit'}}><i class="icon-ok"></i></button>
</div>
</script>

<script type="text/x-handlebars" data-template-name="task-create">
<div class="well well-small">
    <div class="input-append create-view__form">
        {{view Ember.TextField valueBinding="controller.newTask.text" placeholder="New Task…" class="create-view__text"}}
        <button class="btn create-view__button"><i class="icon-pencil"></i> Add Task</button>
    </div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="tasks">

<h2 class="view__title">All Tasks <span class="badge">{{openTaskCount}}</span></h2>

<table class="table table-bordered table-striped tasks">
    <thead>
        <tr>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
    {{#each task in orderedTasks}}
        {{#unless task.isHidden}}
        <tr class="tasks__row">
            <td {{bindAttr class="task.isComplete"}}>
            {{view Ember.Checkbox checkedBinding="task.isComplete" class="tasks__checkbox"}}
            {{#linkTo 'task' task class="tasks__link"}}{{basicMarkdown task.text}}{{/linkTo}}
            </td>
        </tr>
        {{/unless}}
    {{/each}}
    </tbody>
</table>

</script>

<script type="text/x-handlebars" data-template-name="task">

    <div class="btn-group pull-right view-actions">
        <button {{action 'startEdit'}} class="btn view-actions__edit"><i class="icon-edit"></i> Edit Task</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" {{action 'remove'}}><i class="icon-remove"></i> Delete Task</a>
            </li>
        </ul>
    </div>

    {{#if isEditing }}
        {{partial 'task/edit'}}
    {{else}}
        <h2 class="view__title view__title--light">{{view Ember.Checkbox checkedBinding="isComplete"}} {{basicMarkdown text}}</h2>
    {{/if }}

    <ul class="breadcrumb">
        <li>{{#linkTo index}}All Lists{{/linkTo}} <span class="divider">/</span></li>
    {{#if previousList}}
        <li>{{#linkTo 'list' previousList}}{{previousList.name}}{{/linkTo}} <span class="divider">/</span></li>
    {{/if}}
        <li class="active">{{text}}</li>
    </ul>

    <h3>Lists</h3>
    <div class="well well-small task-parents">
        <ul class="nav nav-pills">
            {{#each list in lists}}
            <li class="task-parents__item">
                {{#linkTo 'list' list}}{{list.name}}{{/linkTo}}
                <button class="close task-parents__close" {{action 'removeFromList' list}}>&times;</button>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="form-inline text-right">
    {{view Ember.Select viewName="select"
        contentBinding="controller.selectLists"
        optionLabelPath="content.name"
        optionValuePath="content.id"
        prompt="Select list…"
        selectionBinding="controller.selectedList"}}
    <button class="btn" {{action 'addToList'}}>Add To List</button>
    </div>

    {{#if previousList}}
    <ul class="pager">
      <li class="previous">
        {{#linkTo 'task' previousTask}}&larr; Previous{{/linkTo}}
      </li>
      <li class="next">
        {{#linkTo 'task' nextTask}}Next &rarr;{{/linkTo}}
      </li>
    </ul>
    {{/if}}

    <p class="muted">Modified: {{fromNow modified}}</p>

</script>

<script type="text/x-handlebars" data-template-name="task/_edit">
<div class="input-append view-edit">
    {{view Ember.TextField valueBinding="text" class="view-edit__field"}}
    <button class="btn" {{action 'endEdit'}}><i class="icon-ok"></i></button>
</div>
</script>

<script src="/js/vendor/jquery-1.9.1.min.js"></script>
<script src="/js/vendor/handlebars-1.0.0-rc.3.min.js"></script>
<script src="/js/vendor/ember-1.0.0-rc.3.js"></script>
<script src="/js/vendor/ember-data.js"></script>
<script src="/js/vendor/moment.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/macaque.js"></script>
</body>
</html>
