<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright © David Bushell | @dbushell | http://dbushell.com/">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

<script type="text/x-handlebars">
    <h1>{{#linkTo 'index'}}<%= title %>{{/linkTo}}</h1>

    {{outlet}}

    <footer role="contentinfo">
        <small><a href="https://github.com/dbushell/Macaque" target="_blank"><%= title %></a> | Copyright © <a href="http://dbushell.com/" target="_blank">David Bushell</a></small>
    </footer>
</script>

<script type="text/x-handlebars" data-template-name="index">
    <h2>Lists:</h2>
    <ul>
    {{#each list in lists}}
        <li>{{#linkTo 'list' list}}{{list.name}}{{/linkTo}}</li>
    {{/each}}
    </ul>
</script>

<script type="text/x-handlebars" data-template-name="list">
    {{#if isEditing }}
        {{partial 'list/edit'}}
        <button {{action save}}>Save List</button>
    {{else}}
        <h2>List: {{name}}</h2>
        <button {{action edit}}>Edit List</button>
    {{/if}}
    <h3>Tasks:</h3>
    <ul>
    {{#each task in tasks}}
        {{#unless task.hidden}}
        <li>
            {{view Ember.Checkbox checkedBinding="task.completed"}}
            {{#linkTo 'task' task}}{{task.text}}{{/linkTo}}
        </li>
        {{/unless}}
    {{/each}}
    </ul>
    {{view Macaque.TaskCreateView}}
    <p>Modified: {{fromNow modified}}</p>
</script>

<script type="text/x-handlebars" data-template-name="list/_edit">
    {{view Ember.TextField valueBinding="name"}}
</script>

<script type="text/x-handlebars" data-template-name="task-create">
    {{view Ember.TextField valueBinding="controller.newTask.text" id="task-create-text"}}
    <button id="task-create-button">Add Task</button>
</script>

<script type="text/x-handlebars" data-template-name="task">
    <h2>{{view Ember.Checkbox checkedBinding="completed" id="task-completed"}} Task: {{text}}</h2>
    <button {{action remove}}>Delete Task</button>
    <h3>Lists:</h3>
    <ul>
    {{#each list in lists}}
    <li>{{#linkTo 'list' list}}{{list.name}}{{/linkTo}}</li>
    {{/each}}
    </ul>
    <p>Modified: {{fromNow modified}}</p>
</script>

<script src="/js/vendor/jquery-1.9.1.min.js"></script>
<script src="/js/vendor/handlebars-1.0.0-rc.3.min.js"></script>
<script src="/js/vendor/ember-1.0.0-rc.2.js"></script>
<script src="/js/vendor/ember-data.js"></script>
<script src="/js/vendor/moment.min.js"></script>
<script src="/js/vendor/pikaday.min.js"></script>
<script src="/js/macaque.js"></script>
</body>
</html>
