<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright © David Bushell | @dbushell | http://dbushell.com/">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

<script type="text/x-handlebars">

    <h1><%= title %></h1>

    <nav role="navigation">
        <ul>
            <li>{{#linkTo 'index'}}Index{{/linkTo}}</li>
            <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
        </ul>
    </nav>

    {{outlet}}

    <footer role="contentinfo">
        <small><a href="https://github.com/dbushell/Macaque" target="_blank"><%= title %></a> | Copyright © <a href="http://dbushell.com/" target="_blank">David Bushell</a></small>
    </footer>

</script>

<script type="text/x-handlebars" data-template-name="index">
    <h2>Categories</h2>
    <ul>
    {{#each category in model}}
        <li>{{#linkTo 'category' category}}{{category.id}}{{/linkTo}}</li>
    {{/each}}
    </ul>
</script>

<script type="text/x-handlebars" data-template-name="about">
    <h2>About</h2>
    <p>Coming soon…</p>
</script>

<script type="text/x-handlebars" data-template-name="category">
    <h2>Category ({{id}})</h2>

    {{outlet}}

    {{#if loaded}}
        <ul>
        {{#each item in tasks}}
            <li>{{#linkTo 'task' item}}{{item.id}}: {{item.text}}{{/linkTo}}</li>
        {{/each}}
        </ul>
    {{else}}
        <p>Loading…</p>
    {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="task">
    <h2>Task</h2>
    {{#if loaded}}
        <p>{{id}}: {{text}}</p>
    {{else}}
        <p>Loading…</p>
    {{/if}}
</script>

<script src="/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script src="/assets/js/vendor/handlebars-1.0.0-rc.3.min.js"></script>
<script src="/assets/js/vendor/ember-1.0.0-rc.2.js"></script>
<script src="/assets/js/vendor/moment.min.js"></script>
<script src="/assets/js/vendor/pikaday.min.js"></script>
<script src="/assets/js/macaque.js"></script>
</body>
</html>
