html {
    overflow-y: scroll;
}

body {
    padding-top: 80px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .navbar .brand {
        margin: 0;
    }
}

.navbar .nav a.active {
    color: #fff !important;
}

.muted code {
    color: #999;
}

.well p:last-child,
.well .nav:last-child,
.well .input-append:last-child {
    margin-bottom: 0;
}

.well .nav > li:not(.active) > a:hover {
    background-color: #fff;
}

th.text-right,
td.text-right {
    text-align: right;
}

/* ==========================================================================
   Tasks
   ========================================================================== */

.tasks__checkbox {
    display: block;
    float: left;
    margin: 0 10px 0 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.tasks__checkbox:before {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent url("../img/icon-checkbox.svg") 0 0 no-repeat;
    background-size: 100% 100%;
}

.tasks__checkbox:checked:before {
    background-image: url("../img/icon-checkbox-active.svg");
}

.tasks__row .is-complete a,
.tasks__row .is-complete code {
    color: #999;
}

/* ==========================================================================
   View
   ========================================================================== */

.view__title {
    margin-top: 0;
}

.view__title input[type="checkbox"] {
    display: block;
    float: left;
    margin: 5px 10px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.view__title input[type="checkbox"]:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: transparent url("../img/icon-checkbox.svg") 0 0 no-repeat;
    background-size: 100% 100%;
}

.view__title input[type="checkbox"]:checked:before {
    background-image: url("../img/icon-checkbox-active.svg");
}

.view__title .badge {
    font-size: 14px;
    padding: 4px 8px;
    vertical-align: 4px;
}

.view__title code {
    font-size: 80%;
    line-height: 1;
    border-color: #e1e1e8;
}

.view__title--light {
    font-weight: normal;
}

.view-actions {
    margin-top: 6px;
}

.view-edit {
    display: block;
    height: 44px;
    margin: 0;
    padding-top: 6px;
}

/* ==========================================================================
   Create View
   ========================================================================== */

.create-view__form {
    width: 100% !important;
    padding-right: 100px !important;
    box-sizing: border-box !important;
}

.create-view__text {
    width: 100% !important;
    min-height: 30px !important;
    box-sizing: border-box !important;
}

.create-view__button {
    width: 100px !important;
    padding: 4px 0 !important;
}

/* ==========================================================================
   Task
   ========================================================================== */

.task-parents__item {
    position: relative;
    padding-right: 24px !important;
}

.task-parents__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px !important;
    line-height: 14px !important;
}
