html {
    overflow-y: scroll;
}

body {
    padding-top: 80px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .navbar .brand {
        margin: 0;
    }
}

h2 .badge {
    font-size: 14px;
    padding: 4px 8px;
    vertical-align: 4px;
}

.muted code {
    color: #999;
}

.well p:last-child,
.well .nav:last-child,
.well .input-append:last-child {
    margin-bottom: 0;
}

.well .nav > li:not(.active) > a:hover {
    background-color: #fff;
}

th.text-right,
td.text-right {
    text-align: right;
}

/* ==========================================================================
   List / Task Views
   ========================================================================== */

.view-title {
    margin-top: 0;
}

.list-view-actions,
.task-view-actions {
    margin-top: 6px;
}

.list-edit-view,
.task-edit-view {
    display: block;
    height: 44px;
    margin: 0;
    padding-top: 6px;
}

.view-title input[type="checkbox"],
.list-view-tasks input[type="checkbox"] {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.view-title input[type="checkbox"]:before,
.list-view-tasks input[type="checkbox"]:before {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent url("../img/icon-checkbox.svg") 0 0 no-repeat;
    background-size: 100% 100%;
}

.view-title input[type="checkbox"]:checked:before,
.list-view-tasks input[type="checkbox"]:checked:before {
    background-image: url("../img/icon-checkbox-active.svg");
}

.view-title input[type="checkbox"] {
    margin: 5px 10px 0 0;
}
.view-title input[type="checkbox"]:before {
    width: 30px;
    height: 30px;
}

.view-title code {
    font-size: 80%;
    line-height: 1;
}

.task-view .view-title {
    font-weight: normal;
}

.list-view-tasks td.is-complete a,
.list-view-tasks td.is-complete code {
    color: #999;
}

#list-create-text,
#task-create-text {
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}

#list-create-button,
#task-create-button {
    width: 100px;
    padding: 4px 0;
}

.list-create-view .input-append,
.task-create-view .input-append {
    width: 100% !important;
    padding-right: 100px;
    box-sizing: border-box;
}

.task-parents li {
    position: relative;
    padding-right: 24px !important;
}

.task-parents .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px !important;
    line-height: 14px !important;
}
